name: Deploy to GitHub Pages

on:
  push:
    branches: 'master'

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          working-directory: ./docs

      # If you're using pnpm, add this step then change the commands and cache key below to use `pnpm`
      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
        
      - name: Install dependencies
        run: pnpm i
        working-directory: ./docs

      - name: build
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'
        run: pnpm run build
        working-directory: ./docs

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
         # this should match the `pages` option in your adapter-static options
           path: 'docs/build/'

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
